name: build-docker-image

on: 
  workflow_dispatch:
  push:
    paths:
      - 'Dockerfile'
      - '.github/workflows/buildImage.yml'

env: 
  REGISTRY: ghcr.io
  DOCKER_BUILDKIT: "1"

jobs:
  build-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to the Container Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # use the multistage docker build action instead of docker's action
      - uses: firehed/multistage-docker-build-action@ bc95fc29c4849d83e8473c7644900f559391d39c
        id: build
        with:
          context: .
          quiet: uses
          repository: ${{ env.REGISTRY }}/${{ github.repository }}/learn-maintenance-image-${{ matrix.python-version }}
          tag-latest-on-default: true
          stages: stage1, stage3A
          server-stage: stage3B
          build-args: |
            PY_VERSION=${{ matrix.python-version }}
            MESSAGE="workflow"
